*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: monospace;
}

body {
  color: white;
  background-color: rgb(43, 41, 51);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 2.5rem;
  padding: 1rem;
}

form {
  margin-bottom: 2rem;
  display: flex;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  margin-top: -0.5rem;
}
.checkbox-container label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0.1rem;
}
.checkbox-container input {
  accent-color: rgb(88, 88, 255);
}

.input {
  outline: none;
  background-color: rgb(43, 41, 51);
  border: 1px solid grey;
  border-radius: 0.5rem;
  padding: 0.6rem 0.5rem;
  font-size: 1rem;
  color: white;
  width: 20rem;
  height: 2.5rem;
}

.input:focus {
  border-color: white;
}

.search-btn {
  height: 2.5rem;
  background-color: grey;
  outline: none;
  border-color: rgb(43, 41, 51);
  border-radius: 0.5rem;
  width: 6.5rem;
  font-size: 1rem;
  color: black;
  cursor: pointer;
}

.result {
  font-size: 1.5rem;
  text-align: center;
  padding: 1.25rem;
}

.result .search {
  color: rgb(255, 153, 247);
}
.result .netflix {
  color: rgb(253, 16, 16);
}
.result .hbo {
  color: rgb(133, 45, 233);
}
.result .disney {
  color: rgb(34, 78, 255);
}
.result .star {
  color: rgb(254, 94, 16);
}
.result .amazon {
  color: rgb(17, 174, 227);
}
.result .paramount {
  color: rgb(2, 100, 248);
}
.result .movistar {
  color: rgb(77, 185, 60);
}
.result .apple {
  color: rgb(200, 240, 252);
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  font-size: 1.15rem;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer a:hover {
  color: rgb(88, 88, 255);
}

@media screen and (max-width: 720px) {
  * {
    text-align: center;
  }

  form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .checkbox-container {
    margin-bottom: 2rem;
    font-size: 1.25rem;
  }
  .checkbox-container label {
    padding: 0.5rem;
  }

  .results-container {
    background-color: rgb(43, 41, 51);
    z-index: 1;
  }

  .search-btn {
    margin-top: 1rem;
  }

  footer {
    left: 0;
    padding: 0.5rem;
  }
}
