*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: monospace;
}

body {
  color: white;
  background-color: rgb(43, 41, 51);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
body.stop-scroll {
  overflow: hidden;
}

.burger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  cursor: pointer;
  user-select: none;
}
.burger-menu svg {
  fill: white;
  border-radius: 100px;
}

.menu {
  background-color: rgb(37, 35, 43);
  border-right: 1px solid grey;
  height: 100vh;
  width: 25rem;
  font-size: 1.1rem;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 6;
  transition: transform 200ms ease-in-out;
}
.menu.collapsed {
  transform: translateX(-100%);
  user-select: none;
  pointer-events: none;
}

.close-menu {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 2.25rem 1rem;
  cursor: pointer;
  user-select: none;
}
.close-menu svg {
  fill: white;
}

.overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(56, 54, 54, 0.75);
  position: absolute;
  top: 0;
  z-index: 5;
  transition: opacity 200ms ease-in-out;
}
.overlay.hidden {
  opacity: 0;
  user-select: none;
  pointer-events: none;
}

.menu h2 {
  padding: 1rem;
  text-align: left;
}

.menu div {
  display: flex;
  padding: 0.5rem;
  margin-left: 1rem;
}
.menu label {
  margin-left: 0.5rem;
}

section.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 2.5rem;
  padding: 1rem;
  margin-bottom: 0;
}

.main #recom-link {
  display: block;
  padding: 1rem;
  padding-top: 0;
}

form {
  margin-bottom: 2rem;
  display: flex;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
  margin-top: -0.5rem;
}
.checkbox-container label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0.1rem;
}
.checkbox-container input {
  /* accent-color: rgb(88, 88, 255); */
  appearance: none;
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
  margin-right: 0.5em;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-container input.checked-animation {
  animation: checkInput 600ms ease-in-out;
}

.checkbox-container input::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  border-radius: 100%;
  background-color: rgb(88, 88, 255);
  transform: scale(0);
  transition: 200ms ease-in-out;
}

.checkbox-container input::after {
  content: '✔';
  color: #fff;
  font-size: 0.75em;
  z-index: 1;
  transform: scale(0);
  transition: 200ms ease-in-out;
}

.checkbox-container input:checked {
  background-color: rgb(88, 88, 255);
  transition-delay: 200ms;
}

.checkbox-container input:checked::before,
.checkbox-container input:checked::after {
  transform: scale(1);
  transition: 200ms ease-in-out;
}

@keyframes checkInput {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.85);
  }

  50% {
    transform: scale(1.1);
  }

  75% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1);
  }
}

.input {
  outline: none;
  background-color: rgb(43, 41, 51);
  border: 1px solid grey;
  border-radius: 0.5rem;
  padding: 0.6rem 0.5rem;
  font-size: 1rem;
  color: white;
  width: 20rem;
  height: 2.5rem;
}

.input:focus {
  border-color: white;
}

.search-btn {
  height: 2.5rem;
  background-color: grey;
  outline: none;
  border-color: rgb(43, 41, 51);
  border-radius: 0.5rem;
  width: 6.5rem;
  font-size: 1rem;
  color: black;
  cursor: pointer;
}

.result {
  font-size: 1.5rem;
  text-align: center;
  padding: 1.25rem;
}

.result .search {
  color: rgb(255, 153, 247);
}
.result .netflix {
  color: rgb(253, 16, 16);
}
.result .hbo {
  color: rgb(133, 45, 233);
}
.result .disney {
  color: rgb(34, 78, 255);
}
.result .star {
  color: rgb(254, 94, 16);
}
.result .amazon {
  color: rgb(17, 174, 227);
}
.result .paramount {
  color: rgb(2, 100, 248);
}
.result .movistar {
  color: rgb(77, 185, 60);
}
.result .apple {
  color: rgb(200, 240, 252);
}
.result .crunchyroll {
  color: rgb(244, 117, 33);
}
.result .claro {
  color: rgb(255, 50, 50);
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 1rem;
  font-size: 1.15rem;
}

footer a {
  color: inherit;
  text-decoration: none;
}

footer a:hover {
  color: rgb(88, 88, 255);
}

/* RECOMMENDATIONS */
section.recom {
  width: 100%;
}

h1.title.recom {
  margin-bottom: 0;
}

form.recom {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.categories-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 2rem;
  font-size: 1.1rem;
}

.categories-container div {
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.categories-container label,
.categories-container input {
  cursor: pointer;
}

h3 a.go-back {
  color: white;
  text-decoration: none;
  margin: 0;
}

h3 a.go-back:hover {
  color: rgb(88, 88, 255);
  text-decoration: none;
  margin: 0;
}

#recomResults {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#recomResults.results-container .result {
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-items: center;
  text-align: left;
}

#recomResults.results-container .result img {
  width: 25%;
}

#recomResults.results-container .result h4 {
  text-align: center;
  font-size: 2rem;
}

#recomResults.results-container .result p {
  width: 80%;
  line-height: 1.25;
}

#recomResults.results-container .result div {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 720px) {
  * {
    text-align: center;
  }

  body {
    max-width: 100%;
    overflow-x: hidden;
    max-height: 100%;
  }

  .burger-menu {
    top: 0;
    left: auto;
    right: 0;
  }

  .menu {
    border: none;
    border-left: 1px solid grey;
    position: absolute;
    left: auto;
    top: 0;
    right: 0;
    width: 24rem;
    transform: translate(0);
    opacity: 1;
    transition: 200ms ease-in-out;
  }
  .menu.collapsed {
    user-select: none;
    pointer-events: none;
    transform: translate(0);
    opacity: 0;
  }

  .close-menu svg {
    transform: rotate(180deg);
  }

  form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .checkbox-container {
    margin-bottom: 2rem;
    font-size: 1.25rem;
  }
  .checkbox-container label {
    padding: 0.5rem;
  }

  .results-container {
    background-color: rgb(43, 41, 51);
    z-index: 1;
  }

  .search-btn {
    margin-top: 1rem;
  }

  .main {
    padding-bottom: 3em;
  }

  footer {
    left: 0;
    padding: 0.5rem;
  }
}

@media screen and (max-width: 1500px) {
  /* Recommendations */
  section.recom .result {
    width: 65% !important;
  }

  section.recom .result div {
    padding: 1rem !important;
  }
}

@media screen and (max-width: 1100px) {
  /* Recommendations */
  section.recom .result {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    width: 90% !important;
    border-bottom: 1px solid grey;
  }

  section.recom .result img {
    width: 50% !important;
  }

  section.recom .result div {
    padding: 0 !important;
  }

  section.recom .result div p {
    text-align: justify;
  }
}
